# Global
{
	skip_install_trust
	email info@alpha-its.de
}

# Security headers
(security_headers) {
	header {
		# enable HSTS
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		# disable clients from sniffing the media type
		X-Content-Type-Options "nosniff"
		# keep referrer data off of HTTP connections
		Referrer-Policy "strict-origin-when-cross-origin"
		# define valid sources for loading various types of content
		# Content-Security-Policy "default-src 'self'; frame-ancestors 'self'"
		# XSS protection
		X-XSS-Protection "1; mode=block"
		# clickjacking protection
		X-Frame-Options "SAMEORIGIN"
	}
}

# Sites

# Kopano
osk-c.osk-kiefer.com {
encode zstd

	reverse_proxy https://192.168.17.66 {
		transport http {
			tls
			tls_insecure_skip_verify
			tls_server_name osk-c.osk-kiefer.com
		}
	}
}

# Psono
psono-c.osk-kiefer.com {
	import security_headers

	encode zstd

	########## /server  →  8081  (Präfix weg) ##########
	handle_path /server* {
		reverse_proxy 192.168.17.61:8081
	}

	########## /portal  →  8082  (Präfix bleibt) ##########
	handle /portal* {
		reverse_proxy 192.168.17.61:8082
	}

	########## Fallback  →  8083 ##########
	handle {
		reverse_proxy 192.168.17.61:8083
	}
}
