# Global
{
	skip_install_trust
	email info@alpha-its.de
}

osk-c.osk-kiefer.com {
	reverse_proxy https://192.168.17.66 {
		transport http {
			tls
			tls_insecure_skip_verify
			tls_server_name osk-c.osk-kiefer.com
		}
	}
}

psono-c.osk-kiefer.com {
	import security_headers
	encode zstd
	########## /server  →  8081  (Präfix weg) ##########
	handle_path /server* {
		reverse_proxy 192.168.17.61:8081
	}

	########## /portal  →  8082  (Präfix bleibt) ##########
	handle /portal* {
		reverse_proxy 192.168.17.61:8082
	}

	########## Fallback  →  8083 ##########
	handle {
		reverse_proxy 192.168.17.61:8083
	}
}
